{{- /*
  Usage: `example args`

  `args` are all optional and can be one of the following:
    * id: the `div`'s id - default: ""
    * class: any extra class(es) to be added to the `div` - default: ""
    * lang: language used to display the code - default: "html"
    * show_markup: if the markup should be output in the HTML - default: `true`
    * show_preview: if the preview should be output in the HTML - default: `true`
    * stackblitz_add_js: if extra JS snippet should be added to StackBlitz - default: `false`
*/ -}}

{{- $id := .Get "id" -}}
{{- $class := .Get "class" -}}
{{- $lang := .Get "lang" | default "html" -}}
{{- $stackblitz_add_js := .Get "stackblitz_add_js" | default false -}}
{{- $show_markup := .Get "show_markup" | default true -}}
{{- $show_preview := .Get "show_preview" | default true -}}
{{- $input := .Inner -}}
{{- $content := .Inner -}}


<div x-data="{ open: false }" :class="open ? 'expand' : ''" class="bg-white ps-auto pe-3 p-3 mt-5 align-items-middle bd-example-snippet bd-code-snippet" style="touch-action: none; box-sizing: border-box;">
 <div class="tovAxExampleExpanded d-flex justify-content-center p-0 mb-3 rounded-3 mx-n1"><button x-on:click="open = ! open" class="btn btn-sm btn-bd-primary d-flex justify-content-center align-items-center p-0 lh-0" style="width:48px; height: 48px;"><i class="fa-solid fa-expand"></i></button></div>
  {{- if eq $show_preview true -}}

  <div{{ with $id }} id="{{ . }}"{{ end }} class="d-flex w-auto justify-content-center bd-example{{ with $class }} {{ . }}{{ end }}" style="touch-action: none; box-sizing: border-box;">
    <div class="funkCustomExperienceWrapper responsive-container bg-light XS SM MD LG XL tov-test resizable p-1 m-0 h-auto"  style="touch-action: none; box-sizing: border-box;" data-observe-resizes>
    {{- $input -}}
  </div>
</div>
{{- end -}}

<div class="w-100">
  {{- if eq $show_markup true -}}
    {{- if eq $show_preview true -}}
      <div class="d-flex align-items-center highlight-toolbar py-2">
        <small class="font-monospace text-muted text-uppercase pt-3">{{- $lang -}}</small>
      </div>

    {{- end -}}


    {{- $content = replaceRE `<svg class="bd-placeholder-img(?:-lg)?(?: *?bd-placeholder-img-lg)? ?(.*?)".*?<\/svg>` `<img src="..." class="$1" alt="...">` $content -}}
    {{- $content = replaceRE `<img class="bd-placeholder-img(?:-lg)?(?: *?bd-placeholder-img-lg)? ?(.*?)".*?>` `<img src="..." class="$1" alt="...">` $content -}}
    {{- $content = replaceRE ` (class=" *?")` "" $content -}}

  {{- highlight (trim $content "\n") $lang "" -}}
</div>
  {{- end -}}

</div>
  <script>
    if ('ResizeObserver' in self) {
      var ro = new ResizeObserver(function(entries) {
        var defaultBreakpoints = {XS: 0, SM: 576, MD: 768, LG: 992, XL: 1200};

        entries.forEach(function(entry) {
          var breakpoints = entry.target.dataset.breakpoints ?
              JSON.parse(entry.target.dataset.breakpoints) :
              defaultBreakpoints;
          Object.keys(breakpoints).forEach(function(breakpoint) {
            var minWidth = breakpoints[breakpoint];
            if (entry.contentRect.width >= minWidth) {
              entry.target.classList.add(breakpoint);
            } else {
              entry.target.classList.remove(breakpoint);
            }
          });
        });
      });
      var elements = document.querySelectorAll('[data-observe-resizes]');
      for (var element, i = 0; element = elements[i]; i++) {
        ro.observe(element);
      }
    }
  </script>
